body{overflow-x: hidden;font-family: 'Roboto', sans-serif;color: #637381;}
img{max-width: 100%;}

a, a:hover{text-decoration: none;}
a, button, i{transition: all .3s;}
svg{display: block;}

p{font-size: 12px;margin-bottom: 10px;font-weight: 300;}

strong{font-weight: 700;}

input, button, a{box-shadow: none !important;outline: none !important;}

:root{
  --primary: #340032;
  --second: #62005E;
  --primary-hover: #AE3FA9;
}

/* .container{max-width: 1190px;margin: auto;width: calc(100% - 30px);} */

header{background-color: var(--primary);padding: 20px 0;}
header .logo{width: 200px;}
header .logo h1{color: #fff;font-weight: bold;font-size: 20px;}

.header-right ul{padding: 0;margin: 0;list-style-type: none;}
.header-right ul li{float: left;margin-right: 25px;text-transform: uppercase;}
.header-right ul li a{color: #fff;}
.header-right ul li a:hover{color: var(--primary-hover);}
.toggle-menu{font-size: 25px;color: #fff;cursor: pointer;}
.language{margin-right: 25px;}
.language a{color: #fff;font-size: 19px;}
.cart{margin-right: 25px;position: relative;}
.cart svg{font-size: 30px;color: #fff;}
.cart span{color: #fff;font-size: 10px;width: 15px;height: 15px;display: flex;align-items: center;justify-content: center;background-color: var(--primary-hover);border-radius: 50%;border-color: 2px solid var(--primary);position: absolute;top: -3px;right: -3px;}
.profile{overflow: hidden;position: relative;}
.profile svg{font-size: 30px;color: #fff;}

.go-back a{color: #fff;font-size: 23px;display: block;}

.home-banner{background-color: var(--primary);overflow: hidden;padding: 0 0 4em;color: #fff;text-transform: uppercase;position: relative;background-position: center;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
.home-banner::before{content: "";background: var(--primary);opacity: .6;position: absolute;top: 0;left: 0;bottom: 0;right: 0;z-index: 2;}
.home-banner .container{z-index: 9;position: relative;overflow: hidden;}
.home-banner img{margin: 4em auto 25px;width: 150px;height: 150px;border-radius: 50%;position: relative;z-index: 9;display: block;}
.home-banner h2{margin: 0 0 10px;font-weight: bold;font-size: 2.5rem;line-height: 1;}
.home-banner p{margin: 0;font-size: 18px;}

.start-ordering{width: 100%;display: flex;align-items: center;justify-content: center;overflow: hidden;position: fixed;bottom: 0;left: 0;right: 0;z-index: 99;padding: 6px;}
.start-ordering a{border-radius: 7px;width: 100%;padding: 10px 15px;display: flex;color: #fff;font-size: 16px;align-items: center;justify-content: center;height: 48px;background: var(--primary);}

section .container{max-width: 900px;width: 100%;}

footer{background-color: #262325;padding: 30px 0;text-align: center;}
footer img{margin: 0 auto 25px;width: 150px;height: 150px;}
footer ul{padding: 0;margin: 0;list-style-type: none;}
footer ul li{display: inline-block;margin-right: 25px;text-transform: uppercase;font-size: 14px;}
footer ul li:last-child{margin: 0;}
footer .menu li a{color: #fff;}
footer .menu li a:hover{color: var(--primary-hover);}
footer .social-media li svg{color: #fff;font-size: 25px;}
footer .social-media li a:hover{color: var(--primary-hover);}

form{overflow: hidden;}
form select.form-control{height: 45px;border-radius: 10px;border: 1px solid #EDEDEE;color: var(--primary);padding: 0 20px;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: url('./img/arrow-down.svg') no-repeat 95% center;background-size: 14px;}

.home-categories{position: relative;}
.home-categories h3{background-color: #F5F7F9;padding: 20px 25px;text-transform: uppercase;color: #AEBFCE;text-align: center;margin-bottom: 30px;font-size: 25px;}
.home-categories .grid-3{display: grid;grid-template-columns: auto auto auto;grid-column-gap: 50px;grid-row-gap: 50px;}
.home-categories .grid-3 .single-category{border-radius: 20px;overflow: hidden;text-align: center;box-shadow: 0 5px 15px 1px #f0f0f0;}
.home-categories .grid-3 .single-category .cat-infos{padding: 8px 10px 12px;}
.home-categories .grid-3 .single-category .cat-infos h4{color: var(--primary);text-transform: uppercase;font-size: 25px;margin: 0 0 5px;}
.home-categories .grid-3 .single-category .cat-infos .product-counter{font-size: 13px;color: #95A1A8;}

.delivery-pickup a{display: block;padding: 5px;color: #333;}

/* - */
.login-page{overflow: hidden;}
h2.title{font-size: 24px;font-weight: 600;letter-spacing: -1px;margin: 0 0 3px;color: var(--primary);}
p.sub{font-size: 18px;color: var(--primary);}
.login-page form{overflow: hidden;}
.login-page form label{font-size: 16px;color: #C9D2D8;margin: 0 0 5px;}
.login-page form input, .login-page form select, .login-page form textarea{border-radius: 8px;border: 1px solid #eee;color: #637381;}
.login-page form textarea{height: auto;}
/* .form-control:-ms-input-placeholder{color: #637381;}
.form-control:-moz-placeholder{color: #637381;}
.form-control::-webkit-input-placeholder{color: #637381;} */
.login-page form button{max-width: 450px;margin: auto;display: block;width: 100%;border: 1px solid var(--second);background-color: var(--second);padding: 13px;text-transform: uppercase;color: #fff;font-weight: 600;font-size: 18px;border-radius: 40px;}
.login-page form button:hover{background-color: transparent;color: var(--second);}
.login-page .go-forgot-password{text-align: center;}
.login-page .go-forgot-password a{color: var(--second);}
.login-page .go-forgot-password a:hover{text-decoration: underline;}
.login-page .go-signup{overflow: hidden;}
.login-page .go-signup a{margin: auto;max-width: 450px;display: block;width: 100%;border: 1px solid var(--second);background-color: transparent;color: var(--second);padding: 13px;text-transform: uppercase;font-weight: 600;font-size: 18px;border-radius: 40px;}
.login-page .go-signup a:hover{background-color: var(--second);color: #fff;}

.contact-info{color: #637381;}
.contact-info p{font-size: 14px;margin-bottom: 10px;font-weight: 300;color: #637381;}

.menu-mobile{position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: 99999;opacity: 0;visibility: hidden;}
.menu-mobile .menu-close{content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.7);z-index: 9;}
.menu-mobile .wrap{position: relative;z-index: 99;height: 100vh;width: 300px;background-color: #fff;left: -305px;}
.menu-mobile .home-banner{margin: 0;}
.menu-mobile .menu-top{background-color: var(--second);padding: 70px 0 15px;display: flex;align-items: center;justify-content: space-between;}
.menu-mobile .menu-top a{color: #fff;text-align: center;text-transform: uppercase;font-size: 12px;display: block;width: 33.333%;}
.menu-mobile .menu-top a svg{margin: 0 auto 4px;font-size: 25px;}
.menu-mobile ul{padding: 15px 0;list-style-type: none;margin: 0;}
.menu-mobile ul li{text-transform: uppercase;font-weight: 600;font-size: 13px;padding: 0 20px;}
.menu-mobile ul li a{color: var(--second);position: relative;display: block;padding: 10px 0;}
.menu-mobile ul li a:hover{color: var(--primary);}
.menu-mobile .my-account{position: absolute;bottom: 0;left: 0;width: 100%;padding: 0 20px;}
.menu-mobile .my-account a{text-transform: uppercase;font-weight: 600;font-size: 13px;color: var(--second);position: relative;display: block;padding: 10px 0;}
.menu-mobile .my-account svg, .menu-mobile ul li svg{position: absolute;right: 0;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);webkit-transform: translateY(-50%);font-size: 16px;}
.menu-mobile.active{visibility: visible;opacity: 1;}
.menu-mobile.active .wrap{left: 0;}

@media screen and (max-width: 767px){
  header{padding: 12.5px 0;}
  header .logo{text-align: center;}

  .header-right ul{position: fixed;display: none;}

  .profile{display: none;}

  .cart{margin: 0;}
  .cart svg{font-size: 25px;}

  .language{margin-right: 10px;}
  .language a{font-size: 16px;}

  form select.form-control{padding: 0 10px;}

  .home-banner{margin-bottom: 70px;overflow: visible;padding: 0 0 5em;}
  .home-banner img {margin: 0;width: 100px;height: 100px;position: absolute;bottom: -50px;left: 50%;transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);z-index: 9;}
  .home-banner h2{margin: 1em 0 10px;}

  .home-categories .grid-3{grid-template-columns: auto auto;grid-column-gap: 15px;grid-row-gap: 15px;}
  .home-categories h3{padding: 15px 10px;font-size: 20px;}

  .home-categories .grid-3 .single-category .cat-infos h4{font-size: 20px;}
  .home-categories .grid-3 .single-category .cat-infos .product-counter {font-size: 12px;}

  .home-categories h3{margin-bottom: 1.1rem;}

  .page-banner{min-height: 200px;}
  .page-banner::before{display: none;}

  footer{display: none;}
}